<h1 class="ui center aligned icon header">
  <div class="ui image circular"><%= image_tag('hiphiphorray.jpeg') %></div>
</h1>

<div class="ui container">
  <div class="ui grid container">

    <div class="twelve wide column">
      <div class="ui fluid card chatbox">
        <div class="content" id="messages">
          <div class="ui feed" id="chat-window">
            <%= render @messages %>
          </div>
        </div>
        <div class="extra content">
          <%= form_with model: @message, class: "ui reply form" do |f| %>
            <div class="field">
              <div class="ui fluid icon input">
                <%= f.text_field :body, placeholder: "beep boop boop..." %>
                <%= f.button '<i class="icon edit"></i>'.html_safe, class: "ui orange submit icon button"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui fluid card chatbox">
        <div class="content">
          <div class="ui vertical pointing menu">
            <a class="red item">
              Home
            </a>
            <a class="item">
              Messages
            </a>
            <a class="item">
              Friends
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

